@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Twinkle+Star&display=swap');

body {
  margin: 0;
<<<<<<< Updated upstream
  font-family: 'Twinkle Star', cursive;
=======
  font-family: 'Poppins', sans-serif;
>>>>>>> Stashed changes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}